/* styles header */
header {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
}
.header a:hover {
  color: #2196f3;
}
.header a {
  text-decoration: none;
  color: #212121;
}

header.header {
  display: flex;
  align-items: center;
  margin: 24px 215px 20px 215px;
}
header.header nav {
  margin-left: 42px;
}
.header ul {
  display: flex;
}

header.header li {
  list-style: none;
}

header.header nav li {
  margin: 0 10px;
}

header .stu {
  color: #2196f3;
}
.link-contact {
  margin-left: auto;
  display: flex;
}
.link-contact li {
  margin: 0 10px;
}

.link-contact a {
  color: #757575;
}
header .correo {
  color: #2196f3;
}

.main-content h2,
h3,
h4 {
  color: #212121;
}

.main-content p {
  color: #757575;
}

/* styles section1 */

section.section1 {
  height: 600px;
  background: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 h1 {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto";
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}

.section1 h1:hover,
button:hover {
  text-decoration: underline;
}

.section1 button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  border: none;
}

/* styles section2 */

.content-text div {
  display: flex;
  text-align: center;
  margin: 20px 31px;
}

.content-text div div {
  flex-direction: column;
}

.texte-main {
  margin: 10px 100px;
}

.content-text div .content-text h4:hover,
p:hover {
  text-decoration: underline;
}

.content-image div {
  display: flex;
  justify-content: center;
  margin: 0px 0 30px;
}

.content-image h2:hover {
  text-decoration: underline;
}

.content-image h2 {
  margin-bottom: 50px;
  text-align: center;
}

.content-image div picture {
  margin: 0 15px;
}
/* styles section3 */

section.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f4fa;
  padding-bottom: 94px;
}

section.section3 h2 {
  margin-bottom: 50px;
}

section.section3 div {
  display: flex;
}

section.section3 div picture {
  margin: 0 15px;
  background: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

section.section3 div picture h3,
p {
  margin: 10px 0;
}

section.section3 .img {
  width: 270px;
  height: 260px;
}

section.section3 h2:hover,
h3:hover,
p:hover {
  text-decoration: underline;
}
.footer {
  background: #2f303a;
  height: 252px;
}

.footer ul {
  padding: 60px 0 0 215px;
}

.footer li {
  list-style: none;
}

.footer .logo,
.header .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer .logo:hover,
.address a:hover {
  text-decoration: underline;
}
.logo h2 {
  list-style: none;
}

.text-direcion ul li a {
  color: #ffffff99;
}

.text-direcion a {
  text-decoration: none;
}

.text-direcion li {
  list-style: none;
}

.text-direcion ul li a:hover {
  text-decoration: underline;
  color: #2196f3;
}
